body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
}

.users {
  margin: 0;
  height: 100vh;
  padding: 1rem;
  background-color: #e76228;
  color: #fff;
  box-sizing: border-box;
}
.row {
  display: flex;
}
.users__block_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.users__block_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 70px;
  background-color: #f2f1f2;
  cursor: pointer;
}

.no_photo {
  display: block;
  font-size: 1rem;
  color: #2c2b2c;
  text-align: center;
  font-weight: 400;
}

.users__block_name {
  min-width: 150px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.users__block_members {
  margin-left: 0.5rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.users__block_list {
  list-style: none;
  font-size: 1rm;
}

.button-o {
  margin: 5px;
  padding: 10px 15px;
  background-color: #e76228;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 13px;
  cursor: pointer;
}

.message {
  height: calc(100vh - 80px);
  overflow: auto;
  flex: 1;
}
.message__form {
  position: fixed;
  bottom: 20px;
  width: calc(100% - 272px);
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
}

.message__form_input {
  display: inline-block;

  margin-top: 2px;
  padding: 3px;
  height: 32px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #a9a8a9;
  font-size: 13px;
  margin-right: 20px;
  flex: 1;
}

.message__form_input-error {
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 10px rgba(169, 113, 4, 0.6);
}

.message__form_btn {
  padding: 8px 20px;
  border-radius: 15px;
  margin-right: 0;
  margin-left: 0;
}

.authorization__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 0.5rem 0 1rem;
  background-color: #f2f1f2;
  border-radius: 10px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.authorization__modal_block {
  margin: 0 auto;
  padding: 1rem 0;
  width: 95%;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.authorization__modal_title {
  font-size: 20px;
  margin: 3px;
  color: #6c6c6c;
  text-align: center;
}

.authorization__modal_input {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 3px;
  width: 90%;
  height: 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #a9a8a9;
  font-size: 13px;
  color: black;
}

.authorization__modal_btn {
  padding: 5px 10px;
}

.authorization__modal_input:focus {
  outline: none;
}

.authorization__modal_input-error {
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 10px rgba(169, 113, 4, 0.6);
}

.fileload__modal {
  display: none;
  position: absolute;
  top: 0;
  left: 35%;
  padding: 10px;
  width: 500px;
  height: 300px;
  background-color: #f2f1f2;
  border-radius: 10px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.fileload__modal_block {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  width: 98%;
  height: 75%;
  background-color: #fff;
  border-radius: 10px;
}

.fileload__modal_title {
  font-size: 20px;
  margin: 0;
  color: #6c6c6c;
}

.droparea {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  border: 3px dotted #a2a2a2;
  border-radius: 10px;
  color: #909090;
}

.fileload__modal_input::before {
  content: attr(data-title);
  display: inline-block;
  position: absolute;
  padding-top: 50%;
  width: 100%;
  height: 100%;
  visibility: visible;
  overflow: hidden;
  font-size: 10px;
  text-align: center;
}

.fileload__modal_input {
  position: absolute;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  cursor: pointer;
}

.fileload__modal_buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 10px;
}
.users__block_image {
  display: none;
  width: 0;
  height: 0;
  border-radius: 50%;
}
.users__block_image-add {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  box-shadow: none;
}
.no_photo-o {
  display: none;
}
.image_input {
  display: none;
}
.image_input-add {
  display: block;
  width: 144px;
  height: 144px;
}

.message__list {
  list-style: none;
  padding: 0 20px;
}
.message__container {
  display: block;
}

.user_avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  &_message {
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
  }
}
.users_item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
  img {
    position: absolute;
    left: -30px;
  }
}
.img_wrapper {
  position: relative;
}
.message_item {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  display: grid;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  grid-template-columns: 70px 1fr;
  grid-gap: 7px;
  padding: 4px;
  grid-template-rows: 70px min-content;
  border-radius: 14px;
  align-items: center;
}
.time {
  text-align: center;
}
input[type='text'] {
  padding-left: 15px;
}
